In [ ]:
lista = [1, 2, 3, 4, 5]
print(lista)

In [ ]:
cores = ["azul", "verde", "vermelho", "amarelo"]
print("Segunda cor:", cores[1])
print("Última cor:", cores[-1])

In [ ]:
frutas = ["maçã", "banana", "uva"]
frutas[1] = "abacaxi"
print(frutas)

In [ ]:
numeros = []
for i in range(5):
    n = int(input("Digite um número: "))
    numeros.append(n)
print("Lista final:", numeros)

In [ ]:
valores = [8, 3, 10, 1, 7]
valores.sort()
print(valores)

In [ ]:
numeros = []
for i in range(5):
    n = int(input("Digite um número: "))
    numeros.append(n)
print("Soma =", sum(numeros))

In [ ]:
lista = [10, 5, 22, 1, 7]
print("Maior:", max(lista))
print("Menor:", min(lista))

In [ ]:

letras = ["a", "b", "a", "c", "a", "d"]
print("Quantidade de 'a':", letras.count("a"))

In [ ]:
numeros = [2, 4, 6, 8, 10]
numeros.remove(6)
print(numeros)

In [ ]:
numeros = [2, 4, 6, 8, 6, 10]

while 6 in numeros:
    numeros.remove(6)

print(numeros)

In [2]:
pares=[]
n=int(input("Digite um número: "))

for i in range(1,n+1):
    if i%2==0:
        pares.append(i)

print(pares)

[2, 4, 6]

In [ ]:
dias = ("segunda", "terça", "quarta", "quinta", "sexta", "sábado", "domingo")
print("Terceiro dia:", dias[2])

In [ ]:
t = (1, 2, 3)
# t[0] = 10  # Isso gera erro: TypeError: 'tuple' object does not support item assignment
print("Tuplas não podem ter seus elementos alterados.")

In [ ]:
lista=["iara","lays","santos","ramos","araujo"]

tupla=tuple(lista)

print(lista)
print(tupla)

In [ ]:
t = (5, 10, 15, 20)
print("Soma:", sum(t))

In [ ]:
tupla = (2, 4, 6, 8, 10)
num = int(input("Digite um número: "))
if num in tupla:
    print(num, "está na tupla.")
else:
    print(num, "não está na tupla.")